var new_comment = $("<=%escape_javasripte(render(:partial => @comment)) %>").hide();
$('#comments').preprend(new_comment);
$('#comment_<%= @comment.id %>').fadeIn('fast');
$('#new_comment')[0].reset();